@model IEnumerable<ProductSupplierAddModel>
@{

    ViewData["Title"] = "Products Management";

}

<h1>Products Management</h1>
<a asp-area="" asp-controller="Products" asp-action="AddNewProduct" class="btn btn-primary">Add New Product</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ps in Model)
        {
            <tr>
                <td>@ps.Product?.ProductID</td>
                <td>@ps.Product?.ProductName</td>
                <td>@ps.ProductCategories?.CategoryName</td>
                <td>@ps.ProductSupplier?.Price</td>
                <td>@ps.ProductSupplier?.QuantityInStock</td>
            <td>
                    <a asp-area="" asp-controller="Products" asp-action="ViewProduct" asp-route-id="@ps.ProductSupplier?.ProductSupplierID" class="btn btn-info">View</a>
                    <a asp-area="" asp-controller="Products" asp-action="EditProduct" asp-route-id="@ps.ProductSupplier?.ProductSupplierID"  class="btn btn-warning">Edit</a>
                    <a asp-area="" asp-controller="Products" asp-action="Delete" asp-route-id="@ps.ProductSupplier?.ProductSupplierID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>